<template>
  <div class="root">
    <div class="carousel-handle">
      <div v-if="loaded" class="carousel-wrap">
        <slick
          ref="slick"
          :options="slickOptions"
        >
          <div class="item">
            <div class="carousel-prop">
              <div />
            </div>
          </div>
          <div
            v-for="(item, index) in servicesList"
            :key="index"
            class="item"
          >
            <card
              :title="item.title"
              :desc="item.desc"
              :img="item.img"
              :button="$t('agencyLanding.services_button')"
            />
          </div>
          <div class="item">
            <div class="carousel-prop">
              <div />
            </div>
          </div>
        </slick>
      </div>
    </div>
    <div class="floating-title">
      <v-container class="fixed-width">
        <div class="title">
          <title-icon
            :text="$t('agencyLanding.services_title')"
            icon="apps"
            extended
          />
          <nav class="arrow">
            <v-btn
              fab
              small
              aria-label="next"
              class="margin"
              @click="next()"
            >
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            <v-btn
              fab
              small
              aria-label="prev"
              class="margin"
              @click="prev()"
            >
              <v-icon>mdi-arrow-right</v-icon>
            </v-btn>
          </nav>
        </div>
      </v-container>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import './services-style.scss';
</style>

<script>
import imgApi from '~/static/images/imgAPI'
import Card from '../Cards/Default'
import TitleIcon from '../Title/WithIcon'

export default {
  components: {
    Card,
    TitleIcon,
    Slick: () => import('vue-slick')
  },
  data() {
    return {
      loaded: false,
      slickOptions: {
        dots: false,
        infinite: false,
        speed: 500,
        slidesToShow: 4,
        arrows: false,
        slidesToScroll: 1,
        variableWidth: true,
        responsive: [
          {
            breakpoint: 1100,
            settings: {
              slidesToShow: 4
            }
          },
          {
            breakpoint: 800,
            settings: {
              slidesToShow: 3
            }
          }
        ]
      },
      servicesList: [
        {
          title: 'Customer Service',
          desc:
            'Kami menyiapkan customer service sebagai jembatan client yang mempersiapkan seluruh laporan data.',
          img: imgApi.ext[4]
        },
        {
          title: 'Pengiriman',
          desc:
            'Sitem pengiriman kami menggunakan tanda terima (Way Bill) yang memakai sistem barcode.',
          img: imgApi.ext[5]
        },
        {
          title: 'Bahan Baku',
          desc:
            'Penyediaan bahan baku dapat kita sediakan dengan teliti dan akurat sesuai keinginan client',
          img: imgApi.ext[0]
        },
        {
          title: 'Pencetakan',
          desc:
            'Kami memakai mesin - mesin terbaik di kelasnya yang akan mencetak dengan hasil maksimal.',
          img: imgApi.ext[1]
        },
        {
          title: 'Pengolahan Data',
          desc:
            'Metode sesuai output yang di inginkan Hard copy via mail, soft copy via e-mail, FTP dan Leased Line',
          img: imgApi.ext[2]
        },
        {
          title: 'Pengamplopan',
          desc:
            'Dari Kapasitas mesin kami dapat mencetak dengan kecepatan masing-masing adalah 12000 amplop /jam.',
          img: imgApi.ext[3]
        }
      ]
    }
  },
  mounted() {
    this.loaded = true
    const props = window.innerWidth > 1400 ? 1 : 2 // div.carousel-props length for screen < 1400px and (-1) for screen > 1400px
    const lastSlide = Math.floor(this.servicesList.length + props - this.slickOptions.slidesToShow)
    setTimeout(() => {
      if (window.innerWidth > 1200 && !this.$vuetify.rtl) {
        console.log(lastSlide)
        this.$refs.slick.goTo(lastSlide)
      }
    }, 100)
  },
  methods: {
    next: function() {
      this.$refs.slick.next()
    },
    prev: function() {
      this.$refs.slick.prev()
    }
  }
}
</script>
